<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avada Charity</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- FAW  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Css -->
    <link rel="stylesheet" href="./dist/css/app.css" />
  </head>

  <body>
    <div id="app">
      <header id="site_header">
        <div class="container">
          <nav>
            <div class="logo">
              <img
                src="./dist/img/avada-charity-logo-retina.png"
                alt="Avada logo"
                class="logo_img"
              />
            </div>
            <!-- /logo -->

            <div class="menu">
              <ul class="menu_list">
                <li v-for="link in menuLinks"><a href="">{{link}}</a></li>
              </ul>
            </div>
            <!-- /menu -->
          </nav>
          <!-- /nav -->
          <div class="jumbotron">
            <h1>Make a difference</h1>
            <p>
              As long as poverty, injustice & inequity persist, none of us can
              truly rest
            </p>
            <button class="std_btn">Our Mission</button>
            <button class="std_btn">Donate now</button>
          </div>
          <!-- /.jumbotron -->
        </div>
      </header>
      <!-- /#site_header -->
      <main id="site_main">
        <div id="moments">
          <div class="moment_lx">
            <div>
              <h2>Every moment counts</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
                libero blanditiis autem ipsa laudantium cupiditate reiciendis
                omnis sunt in totam.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Necessitatibus pariatur labore velit itaque molestias eaque
                tempore id hic quod dicta aperiam quae
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui
                quos aperiam eveniet nam, doloribus pariatur?
              </p>
              <button class="std_btn">our mission</button>
            </div>
          </div>

          <div class="moment_rx">
            <div class="live_data" v-for="stat in liveStats">
              <i :class="stat.icon"></i>
              <span>{{stat.stat}}</span>
              <br />
              <small class="desc">{{stat.desc}}</small>
            </div>
          </div>
        </div>
        <!-- /moment section -->

        <div id="values">
          <!-- Potrebbe esserci un altro div con sfondo -->
          <h2>our values</h2>
          <p>Think Big. Act Bigger.</p>
          <div class="row">
            <div class="valuecard" v-for="value in values">
              <i :class="value.icon"></i>
              <h4>{{value.title}}</h4>
              <span>{{value.text}}</span>
              <button class="std_btn">learn more</button>
            </div>
          </div>
        </div>
        <!-- /#values -->

        <div id="recent_causes">
          <h2>Recent causes</h2>
          <p>We run projects in over 30 countries in 5 continents</p>

          <div id="featured">
            <div class="feature_img">
              <img
                src="./dist/img/avada-charity-fair-trade-featured.jpg"
                alt=""
              />
            </div>
            <div class="feature_img">
              <img src="./dist/img/avada-charity-shelter-featured.jpg" alt="" />
            </div>
            <div class="feature_img">
              <img src="./dist/img/avada-charity-farming-featured.jpg" alt="" />
            </div>
            <div class="feature_img">
              <img
                src="./dist/img/avada-charity-vaccines-featured.jpg"
                alt=""
              />
            </div>
          </div>
          <!-- /#featured -->

          <div id="view_all">
            <a href="#">View all our cases</a>
          </div>
          <!-- /view_all -->
        </div>
        <!-- /#recent_causes -->
        <div id="latest_articles">
          <h2>latest articles</h2>
          <p>Together we make all the differnce</p>

          <div id="reader">
            <div class="main_article">
              <div class="main_card">
                <img
                  src="./dist/img/photo-1444213007800-cff19e1677ac.jpg"
                  alt=""
                />
                <div class="main_txt">
                  <h3>Understanding community complexities</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nesciunt, earum. Minima quos sunt fugit
                  </p>
                </div>
              </div>
            </div>

            <div class="articles_list">
              <div class="article_card"></div>
            </div>
          </div>
        </div>
        <!-- /latest_article section -->
        <div></div>
      </main>
      <!-- /#site_main -->
      <footer id="site_footer"></footer>
      <!-- /#site_footer -->
    </div>
    <!-- Vuejs CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- AppJS -->
    <script src="./dist/js/app.js"></script>
  </body>
</html>
