* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 400;
}

p {
  opacity: 0.8;
}

.container {
  width: 90%;
  margin: auto;
}
.std_btn {
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  font-size: 13px;
}
