@import "color";
@import "mixin";
@import "common";

#site_footer {
  #change {
    height: 400px;
    color: $text_white;
    text-align: center;
    background-image: url("/dist/img/home-footer.jpg");
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .change_jumbo {
      width: 50%;
      h2::after {
        @include after_bar;
        margin: 20px auto;
      }
      p {
        font-size: 14px;
      }
      button {
        border: 1px solid white;
        margin: 25px 10px;
      }
    }
  }
  #footer_logo {
    text-align: center;
    padding: 20px 0;
    img {
      height: 50px;
    }
  }
  #info {
    text-align: center;
    padding: 20px 0;
    background-color: $article_bg;
    span {
      font-size: 8px;
      opacity: 0.8;
    }
    #social {
      display: flex;
      justify-content: center;

      .social_link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: #fff;
        border-radius: 50%;
        margin: 10px;
        i {
          color: $golden;
          font-size: 20px;
        }
      }
    }
  }
}
