@import "color";
@import "mixin";
@import "common";

#site_header {
  background-image: url("../img/home-page-slider.jpg");
  background-size: cover;
  background-position-y: -60px;
  min-height: 550px;
  height: 100vh;
  nav {
    @include flex_btw;
    padding-top: 25px;

    .logo_img {
      height: 50px;
    }

    .menu {
      .menu_list {
        list-style: none;

        li {
          display: inline-block;
          padding: 15px;
          text-transform: uppercase;
          letter-spacing: 2px;

          a {
            text-decoration: none;
            color: $text_white;
            &:hover {
              color: $golden;
            }
          }
        }
        li:last-child {
          background-color: $golden;
          padding: 7px;
          & > a:hover {
            color: $text_white;
          }
        }
      }
    }
  }
  // /Nav

  // Jumbotron
  .jumbotron {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $text_white;

    h1 {
      font-weight: 300;
      font-size: 40px;
      letter-spacing: 2px;
    }

    p {
      font-size: 15px;
      padding: 10px;
      color: #ffffff9f;
    }

    button {
      border: 1px solid white;
      margin: 15px 5px;

      &:hover {
        border: 1px solid $golden;
        color: $golden;
      }
    }
  }
}
