@import "color";
@import "mixin";
@import "common";

#latest_articles {
  text-align: center;
  padding: 60px 0;
  background-color: $article_bg;

  h2::after {
    @include after_bar;
    margin: 20px auto;
  }

  #reader {
    width: 70%;
    margin: 50px auto;
    text-align: start;
    display: flex;

    h3,
    h5 {
      color: $golden;
      font-weight: 400;
    }
    p {
      font-size: 11px;
    }

    .main_article {
      width: 50%;
      border: 1px solid rgba(211, 211, 211, 0.363);
      box-shadow: 1px 1px rgba(211, 211, 211, 0.363);

      img {
        width: 100%;
      }
      .main_txt {
        padding: 15px 20px;

        h3 {
          margin-bottom: 10px;
        }
        p {
          line-height: 25px;
        }
      }
    }

    .articles_list {
      width: 50%;
      @include flex_btw;
      flex-direction: column;

      .article_card {
        display: flex;
        padding-left: 15px;
        img {
          height: 80px;
        }

        .article_prew {
          padding: 5px 10px;
        }
      }
    }
  }

  #view_article {
    padding: 15px 0;
    background-color: $sienna;
    width: 70%;
    margin: auto;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $text_white;
    }
  }
}
