@import "color";
@import "mixin";
@import "common";

#values {
  display: flex;
  flex-direction: column;
  height: 550px;
  text-align: center;
  background-image: url(../img/home-content-bg-2.jpg);
  background-size: cover;
  background-position-y: center;
  padding-top: 40px;
  color: $text_white;

  h2::after {
    @include after_bar;
    margin: 20px auto;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;

    .valuecard {
      width: calc(100% / 5);
      margin: 0 11px;
      i {
        font-size: 40px;
        color: $golden;
        margin-bottom: 5px;
      }
      h4 {
        text-align: center;
        font-weight: 400;
      }
      span {
        font-size: 9px;
        line-height: 25px;
        opacity: 0.7;
        display: inline-block;
        margin: 20px 0;
      }
      button {
        background-color: $golden;
        color: $text_white;
        border: none;
      }
    }
  }
}
